*.diff
*.patch
*.rej
*.orig

*.la
*.lo
*.o
*~

.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.log
/config.status
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/liblzw-config
/liblzw.pc
/*.tar.lzma
/*.tar.xz
